.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}
/*color https://color.adobe.com/Luxe-NY-color-theme-8354434/edit/?copy=true&base=2&rule=Custom&selected=2&name=Copy%20of%20Luxe%20NY&mode=rgb&rgbvalues=0.0156863,0.0745098,0.25098,0.145098,0.235294,0.34902,0.94902,0.94902,0.94902,0.85098,0.721569,0.333333,0.74902,0.603922,0.337255&swatchOrder=0,1,2,3,4*/

*{
    font-family: 'Roboto', sans-serif;
    background-color: #253C59;
    color: #F2F2F2;
}

html {
    color: #D9B855;
    font-size: 1em;
    line-height: 1.4;
}


li{
    list-style-type: none;
    display:inline-block;
    width: 15%;

}
a{
    text-decoration: none;
}


/********FORM*********/

#tiptitle{
    margin:auto;
    width: 50%;
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 30px;
    margin-top: 0;
}

#rightbox{
    float: left;
    width: 50%;
    margin:auto;
    text-align: center;
}


#fullName, #email, #charac{
  height: 40px;
  margin:5px;
  width:90%;
  padding:10px;   
  border: none;
  border-radius: 5px;
  background-color: white;

}

textarea{
  height: 180px;
  width: 45%;
  padding: 10px;
  margin:5px;

  border: none;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: white;
  float:left;
}


#inputfields{ 
    width: 60%;
    margin: auto;
}
#submit{
  display: block;
  /*float:left;*/
  clear:both;
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  width: 58%;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #BF9A56;
}
/*SMOL SCREEN FORM*/
form{

}
#tiptitle{
    margin:auto;
    width: 80%;
    text-align: center;
    color: white;
    margin-top: 50px;
    padding: 30px;
    margin-top: 0;
}

#rightbox{
    width: 100%;
    margin:0;
    text-align: center;
}


#fullName, #email, #charac{
  height: 40px;
  margin:5px;
  width:90%;
  padding:10px;   
  border: none;
  border-radius: 5px;
  background-color: white;

}

textarea{
  height: 180px;
  width: 90%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  word-wrap: break-word;
  background-color: white;
  float:left;
}

#dish{
  width: 90%;
  margin:auto;
}
#inputfields{ 
    text-align: center;
    width: 100%;
    margin: auto;
}
#submit{
  display: block;
  /*float:left;*/
  clear:both;
  margin:auto;
  margin-top: 20px;
  padding: 10px;
  width: 58%;
  height: 50px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: #BF9A56;
}


/*PHOTOS*/

.btn {
  background-color: BF9A56;
  padding: 6px 12px;
  margin: 0 10px 0 0;
  color: purple;
  font-size: 14px;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 4px;
  outline: none;
  transition: all 200ms ease-in-out;
}

#button{
    width: 50%;
    display:block;
    margin:auto;
    text-align: center;
}

#gossipgif{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
}








/*===========header===========*/
nav{
  margin: 0px 100px 0px 100px;
}
#title{
  color: #D9B855;
  font-style:italic;
  font-size: 5rem;
  width: 90%;
  margin-top: 10px;
}
li a{
  color: #041340;
}

li{
  background-color: #BF9A56;

  padding:10px;
  margin:4px;
  width: 15%;
  text-align: center;
    border-radius: 5px;
}

ul{
  margin:auto;
  width: 90%;
  padding: 0;
}

#wakey{
  text-align: center;
}