*{
    font-family: 'Roboto', sans-serif;
    /*background-color: #253C59;*/
    color: #F2F2F2;
}

html {
    color: #D9B855;
    font-size: 1em;
    line-height: 1.4;
}


li{
    list-style-type: none;
    display:inline-block;
    width: 15%;

}
a{
    text-decoration: none;
}

/*==========SPLASH PAGE========= */

#main{
    background-image: url("../img/chersubi.png");
}

  /*********form********/

  #tiptitle{
      width: 60%;
  }
  #rightbox{
      width: 100%;
      margin:0;
      text-align: center;
  }
  #fullName, #email, #charac{
    width:60%;
    margin:5px;
    padding: 10px;
    height: 40px;
    -webkit-box-sizing: border-box;
  }
  #message{
    height: 120px;
    width: 100%;
    padding:10px;
    margin:auto;
    margin-top: 5px;
    float: none;
    -webkit-box-sizing: border-box;
  }
  #dish{
    width: 60%;
    margin:auto;
  }
  #submit{
    width: 60%;
  }

